body{
    padding: 50px;
    background-color: aquamarine;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}
/*-------------buttons------------*/

#copia{
    text-align: center;
    font-size: 15px;
    height: 30px;
    width: 200px;
    color: red;
    background-color: aquamarine;
    border: 1px solid green;
}

#escribe{
    background-color: white;
    text-align: center;
    font-size: 25px;
}

#pega{
    background-color: white;
    text-align: center;
    font-size: 25px;
}