body{
    background-color: rgb(28, 106, 158) ;
    padding: 50px;
}


h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

/*centrar todo*/
div.centro{
    text-align: center;
}

/*--------Buttons----------*/
#suma{
    text-align: center;
    font-size: 30px;
    height: 50px;
    width: 50px;
    color: rgb(0, 0, 0);
    background-color: aquamarine;
    border: 1px solid green;
}

#resta{
    font-size: 30px;
    height: 50px;
    width: 50px;
    color: rgb(0, 0, 0);
    background-color: aquamarine;
    border: 1px solid green;
}

/*---------Imput-------------*/

#numeracion{
    text-align: center;
    font-size: 30px;
    height: 50px;
    width: 200px;
    border: 1px solid grey;
    color: black;
    background-color: white;
}