body{
    padding: 50px;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}
/*--------Botones---------*/
div.button div{
    display: inline-block;
}
#cambiar{
    background-color: rgb(0, 0, 0);
    font-size: 30px;
    color: rgb(255, 228, 228);
}

#volver{
    background-color: rgb(0, 0, 0);
    font-size: 30px;
    color: rgb(255, 228, 228);
}


/*------------Circulos----------------*/
div.circulo div{
    height: 100px;
    width: 100px;
    border-radius: 50px;
    border: 2px solid black;
    font-size: 100px;
    display: inline-block;
}

div.circulo1{
    background-color: aqua;    
}
    
div.circulo2{
    background-color: blue;
}
    
div.circulo3{
    background-color: antiquewhite;        
}
    
div.circulo4{
    background-color: darkcyan;
}
    
div.circulo5{
    background-color: black;
}

div.circulorojo{
    background-color: red;
}