body{
    background-color: rgb(60, 255, 0) ;
    padding: 50px;
}


h1 {
    text-align: center;
}

h2 {
    text-align: center;
}
/*-------------buttons------------*/
#copia{
    text-align: center;
    font-size: 15px;
    height: 30px;
    width: 200px;
    color: red;
    background-color: aquamarine;
    border: 1px solid green;
}

#mete{
    text-align: center;
    font-size: 15px;
    height: 30px;
    width: 200px;
    color: red;
    background-color: aquamarine;
    border: 1px solid green;
}
/*------------imput---------------*/

#escribe{
    background-color: white;
    text-align: center;
    font-size: 25px;
}

.pega{
    background-color: white;
    text-align: center;
    font-size: 20px;
    height: 30px;
    width: 100px;
    display: inline-block;
}

/*centrar todo*/
div.centro{
    text-align: center;
}
