body{
    padding: 50px;
    background-color: rgb(208, 255, 0);
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}
h3{
    text-align: center;
}

/*centrar todo*/
div.centro{
    text-align: center;
}

/*Numeros y flechas*/
.page-link{
    color: black;
    background-color: aqua;
    font-size: 20px;
}

/*Marco*/
.page-item{
    border: 1px solid black;

  
}