body{
    padding: 50px;
    background-color: rgb(5, 104, 49);
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}
/*centrar todo*/
div.centro{
    text-align: center;
}
/*------------Button-----------------------*/
#calcular{
    height: 30px;
    width: 100px;
    font-size: 20px;
    color: blue;
    background-color: rgb(255, 255, 255);
    text-align: center;
}
/*-----------Imput circulares--------------*/

#circulo1{
    height: 100px;
    width: 100px;
    border-radius: 50px;
    font-size: 25px;
    background-color: purple;
    color: rgb(207, 184, 184);
    border: 2px solid black;
    text-align: center;
}

#circulo2{
    height: 100px;
    width: 100px;
    border-radius: 50px;
    font-size: 25px;
    background-color: purple;
    color: rgb(207, 184, 184);
    border: 2px solid black;
    text-align: center;
}

#circulo3{
    height: 100px;
    width: 100px;
    border-radius: 50px;
    font-size: 25px;
    background-color: purple;
    color: rgb(207, 184, 184);
    border: 2px solid black;
    text-align: center;
}



