@media only screen and (max-width: 799px) {
    body {
        background-color: red;
    }
    div.texto799 {
        display: block;
    }
    
    div.texto800 {
        display: none;
    }
}
@media only screen and (min-width: 800px) {
    body {
        background-color: green;
    }
    div.texto799 {
        display: none;
    }
    div.texto800 {
        display: block;
    }
    }
    div.texto div{
    font-size: 100px;
    color: white;
    }
    div.texto {
    text-align: center;
    }
