@media only screen and (orientation: landscape) {
    body {
        background-color: white;
    }
    div.adaptables {
        color: white;
        text-align: center;
        font-size: 20px;
    }
    div.fijos {
        color:white;
        text-align: center;
        font-size: 20px;
    }

    div.mibox1 {
        border: 1px solid black;
        background-color: green;
    }
    div.mibox2 {
        border: 1px solid black;
        background-color: red;
    }
    div.espacio30 {
    height: 30px;
    }
    div.hola {
        text-align: center;
        color: blue;
        font-size: 50px;
        border: 1px solid black;
    }

}