    body {
        background-color: white;
    }

div.circulos1{
color: white;
font-size: 40px;
text-align: center;
display: inline-block;
background-color: blue;
border: 1px solid black;
height: 100px;
width: 100px;
border-radius: 50px;
}
