body{
    background-color: rgb(255, 255, 255);
    padding: 50px;
}

h1 {
    text-align: center;
    color: brown;
}

h2 {
    text-align: center;
}

/*centrar todo*/
div.centro{
    text-align: center;
}
/*----------------------------*/
/*--------------Ejercicio 1-----------------------*/
#div1{
    font-size: 25px;
    background-color: white;
    color:black;
}

#boton1{
    font-size: 20px;
    height: 50px;
    width: 200px;
    border: 1px solid black;
}

/*--------------Ejercicio 2-----------------------*/
#lista{
    font-size: 25px;
    background-color: white;
    color:black;
}

#boton2,#boton2b{
    font-size: 20px;
    height: 50px;
    width: 200px;
    border: 1px solid black;
}

/*--------------Ejercicio 3-----------------------*/

#tabla{
    border: 1px solid black;
    height: 25px;
    width: 300px;
    background-color: rgb(255, 255, 255);
    color: brown;
    font-size: 15px;
    border: 1px solid rgb(177, 22, 22);

}
#tabla2{
    border: 1px solid black;
    height: 25px;
    width: 300px;
    background-color: rgb(255, 255, 255);
    color: brown;
    font-size: 15px;
    border: 1px solid rgb(177, 22, 22);

}

#boton3{
    font-size: 20px;
    height: 100px;
    width: 200px;
    border: 1px solid black;
}

#botoncliente{
    font-size: 15px;
    height: 40px;
    width: 125px;
    border: 1px solid black;
    background-color: rgb(28, 84, 158);
    color: white;
}

