body{
    background-color: black;
    padding: 50px;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

/*centrar todo*/
div.centro{
    text-align: center;
}

/*-----------------Botones---------------*/
.Botones{
    display: inline-block;
}

#BotonA{
    display: none;
}

#BotonB{
    display: initial;
}

/*------------------Bombillas-------------*/
.Bombillas{
    display: inline-block;
}

#BombillaA{
    display: none;
}


#BombillaB{
    display: initial;
}
