body.fondo8{
    background-color: aquamarine;
}

#tabla8{
    max-width: 1000px;
    max-height: 300px;
    background-color: rgb(211, 195, 195);
    color: black;
    border: 1px solid black;

}

#td8{
    max-width: 200px;
    max-height: 100px;
}

#td81{
    max-width: 400px;
    max-height: 100px;
}

#td82{
    max-width: 800px;
    max-height: 100px;
}

#tr8{
    width: 200px;
    height: 100px;
}