
body.indice{
    background-color: orange;
    color: black;
}
/*-----------------------------ejercicio 1---------------------------------*/
body {
    padding: 50px;
    background-color: beige;
}

/*Ejercicio 4b*/
body.nergroborde {
    border: 5px solid black;
    text-align: center;
}
/*--------------------------------------------------------*/

h1 {
    color: brown;
    font-size: 50px;
}

h2 
    {color: blue;
    font-size: 40px;
}

h3 {
    color: green;
    font-size: 30px;
}

h4 {
    color: purple;
    font-size: 20px;
}

p{
    color: black;
    font-size: 30px;
}

/*----------------------------Ejercicio 3----------------------------------*/
h1.fnt-red {
    color: red;
}
    
.fnt-blue {
    color: blue;
}

#nombre_alumno {
    color: red;
    text-decoration: underline;
}  

/*---ejercicio 2b---*/
h1.titulo {
    color: rgb(67, 137, 170);
    font-size: 30px;
    font-style: oblique;
}

#Texto {
    color: rgb(43, 43, 138);
    font-size: 15px;
}

#Destacado {
    font-style: oblique;
    font-weight: 900;
}
/* -------------------Ejercicio 4------------------------------- */
div.circulos {
    text-align: center;
}
div.circulos div {
    line-height: 100px;
    width: 100px;
    height: 100px;
    text-align: center;
    background-color: rgb(0, 4, 255);
    border: 0px solid black;
    font-weight: bold;
    padding-top: 0px;
    border-radius: 50px;
    border-style: solid;
    display: inline-block;
    color: azure;
    font-size: 50px;
}

div.right {
    float: right;
}

div.left {
    float: left;
}

/*--------------------Ejercicio 4b--------------------*/

div.franjas div {
    width: 100%;
    height: 60px;
    line-height: 40px;
    padding-top: 10px;
    border: 2px solid black; 
    font-size: 40px;
    color: white;
    text-align: center;
    display: inline-block;
    font-weight: bold;
    position: absolute;
}

div.franja-superior {
    left: 0px;
    top: 0px;
    background-color: blue;
}

div.franja-inferior{
    left: 0px;
    bottom: 0px;
    background-color: red;
}

div.center{
    left: 50%;
    top: 50%;
    position: absolute;
}
/*---------------------Ejercicio 5-----------------------------*/
div.marcosalto {
    text-align: center;
}
div.marcosalto div{
    display: inline-block;

}

div.marco {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    font-size: 100px;
    color: white;
    padding : 10px;
    margin: 10px;
    text-align: center;
}

div.m1 {
    background-color: red;
}

div.m2 {
    background-color: green;
}

div.m3 {
    background-color: blue;
}

div.m4 {
   background-color: black;
}

/*--------------Ejercicio 7---------*/
#TablaPrueba7{
    border-collapse: separate;
    border: 2px solid black;
    background-color: rgb(147, 194, 197);
    height: 300px;
    width: 600px;
    font-size: 20px;
    text-align:center;

}

#tr {
    background-color: orange;
    border: 1px solid black;
    margin: 5px;
}

#td {
    background-color: green;
    border: 1px solid black;
    margin: 5px;
}
    