body{
    background-color: rgb(221, 221, 221);
}

form.miformulario {
    padding: 30px 30px 10px 30px;
    border: 1px dashed black;
    width: 50%;
    margin: auto;
}

form.miformulario > label {
    width: 20%;
    display: inline-block;
    color: rgb(18, 18, 201);
}

form.miformulario > input {
    width: 70%;
    margin-bottom: 10px;
}

form.miformulario  button {
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
}

div{
    display: inline-block;
    color: rgb(18, 18, 201);
}




